:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-white: hsl(0 0% 100%);
  --color-white-a1: hsl(0 0% 100% / 0);
  --color-white-a2: hsl(0 0% 100% / 0.013);
  --color-white-a3: hsl(0 0% 100% / 0.034);
  --color-white-a4: hsl(0 0% 100% / 0.056);
  --color-white-a5: hsl(0 0% 100% / 0.086);
  --color-white-a6: hsl(0 0% 100% / 0.124);
  --color-white-a7: hsl(0 0% 100% / 0.176);
  --color-white-a8: hsl(0 0% 100% / 0.249);
  --color-white-a9: hsl(0 0% 100% / 0.386);
  --color-white-a10: hsl(0 0% 100% / 0.446);
  --color-white-a11: hsl(0 0% 100% / 0.592);
  --color-white-a12: hsl(0 0% 100% / 0.923);

  --color-black: hsl(210 7% 11%);
  --color-black-a01: hsl(210 7% 11% / 0.012);
  --color-black-a02: hsl(210 7% 11% / 0.027);
  --color-black-a03: hsl(210 7% 11% / 0.047);
  --color-black-a04: hsl(210 7% 11% / 0.071);
  --color-black-a05: hsl(210 7% 11% / 0.09);
  --color-black-a06: hsl(210 7% 11% / 0.114);
  --color-black-a07: hsl(210 7% 11% / 0.141);
  --color-black-a08: hsl(210 7% 11% / 0.22);
  --color-black-a09: hsl(210 7% 11% / 0.439);
  --color-black-a10: hsl(210 7% 11% / 0.478);
  --color-black-a11: hsl(210 7% 11% / 0.565);
  --color-black-a12: hsl(210 7% 11% / 0.91);

  --color-teal-1: #f9fefe;
  --color-teal-2: #f2fbfc;
  --color-teal-3: #def8fa;
  --color-teal-4: #caf2f5;
  --color-teal-5: #b5e9ee;
  --color-teal-6: #9edde3;
  --color-teal-7: #81cdd4;
  --color-teal-8: #50b8c1;
  --color-teal-9: #007880;
  --color-teal-10: #006a72;
  --color-teal-11: #00777f;
  --color-teal-12: #174245;

  --color-teal-a1: #00d5d506;
  --color-teal-a2: #00b1c50d;
  --color-teal-a3: #00c9d921;
  --color-teal-a4: #00c1cf35;
  --color-teal-a5: #01b4c54a;
  --color-teal-a6: #00a6b661;
  --color-teal-a7: #009aa87e;
  --color-teal-a8: #0098a5af;
  --color-teal-a9: #007880;
  --color-teal-a10: #006a72;
  --color-teal-a11: #00777f;
  --color-teal-a12: #002f33e8;

  --color-blue-1: #fafdff;
  --color-blue-2: #f1f9ff;
  --color-blue-3: #e5f2ff;
  --color-blue-4: #d9ebff;
  --color-blue-5: #cae0ff;
  --color-blue-6: #b5d2ff;
  --color-blue-7: #9ac0ff;
  --color-blue-8: #75a5ff;
  --color-blue-9: #0000a9;
  --color-blue-10: #012bc1;
  --color-blue-11: #1857ff;
  --color-blue-12: #0100a6;

  --color-blue-a1: #0099ff05;
  --color-blue-a2: #0092ff0e;
  --color-blue-a3: #0080ff1a;
  --color-blue-a4: #0079ff26;
  --color-blue-a5: #006aff35;
  --color-blue-a6: #0164ff4a;
  --color-blue-a7: #0060ff65;
  --color-blue-a8: #0059ff8a;
  --color-blue-a9: #0000a9;
  --color-blue-a10: #002ac1fe;
  --color-blue-a11: #0046ffe7;
  --color-blue-a12: #0100a6;

  --color-gray-1: #fcfcfc;
  --color-gray-2: #f9f9f9;
  --color-gray-3: #f0f0f0;
  --color-gray-4: #e8e8e8;
  --color-gray-5: #e1e1e1;
  --color-gray-6: #d9d9d9;
  --color-gray-7: #cecece;
  --color-gray-8: #bbb;
  --color-gray-9: #8d8d8d;
  --color-gray-10: #838383;
  --color-gray-11: #646464;
  --color-gray-12: #202020;

  --color-gray-a1: #00000003;
  --color-gray-a2: #00000006;
  --color-gray-a3: #0000000f;
  --color-gray-a4: #00000017;
  --color-gray-a5: #0000001e;
  --color-gray-a6: #00000026;
  --color-gray-a7: #00000031;
  --color-gray-a8: #00000044;
  --color-gray-a9: #00000072;
  --color-gray-a10: #0000007c;
  --color-gray-a11: #0000009b;
  --color-gray-a12: #000000df;

  --spacing-0: 0px; /* 0px */
  --spacing-0-5: 0.125rem; /* 2px */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-1-5: 0.375rem; /* 6px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-2-5: 0.625rem; /* 10px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-3-5: 0.875rem; /* 14px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.25rem; /* 20px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-7: 1.75rem; /* 28px */
  --spacing-8: 2rem; /* 32px */
  --spacing-9: 2.25rem; /* 36px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-11: 2.75rem; /* 44px */
  --spacing-12: 3rem; /* 48px */
  --spacing-14: 3.5rem; /* 56px */
  --spacing-16: 4rem; /* 64px */
  --spacing-20: 5rem; /* 80px */
  --spacing-24: 6rem; /* 96px */
  --spacing-28: 7rem; /* 112px */
  --spacing-32: 8rem; /* 128px */
  --spacing-36: 9rem; /* 144px */
  --spacing-40: 10rem; /* 160px */
  --spacing-44: 11rem; /* 176px */
  --spacing-48: 12rem; /* 192px */
  --spacing-52: 13rem; /* 208px */
  --spacing-56: 14rem; /* 224px */
  --spacing-60: 15rem; /* 240px */
  --spacing-64: 16rem; /* 256px */
  --spacing-72: 18rem; /* 288px */
  --spacing-80: 20rem; /* 320px */
  --spacing-96: 24rem; /* 384px */

  --border-0: 0px;
  --border-1: 1px;
  --border-2: 2px;
  --border-3: 3px;
  --border-4: 4px;
  --border-8: 8px;
}
