.DesktopItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 64px;
  font-size: 1rem;
  gap: 0.5rem;
}

.icon {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.label {
  color: var(--color-white);
  text-shadow: 0 1px 2px hsl(0 0% 0% / 0.5);
  text-align: center;
}
