.Window {
  background-color: var(--color-gray-8);
  border: 2px solid;
  border-color: var(--color-white) var(--color-gray-6) var(--color-gray-6);
  padding: 2px;
  display: grid;
  grid-template: "titlebar" 32px "content" 1fr / 1fr;
  overflow: auto;
  width: var(--window-width);
  height: var(--window-height);
  min-height: 80px;
  max-width: 100vw;

  &:where([data-resizable]) {
    resize: both;
  }

  &:where([data-state="closed"]) {
    display: none;
  }
}

.titleBar {
  grid-area: titlebar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 4px;
  background-color: var(--color-blue-9);
  color: var(--color-white);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  margin-left: 4px;
  flex: 1 1 100%;
}

.content {
  grid-area: content;
}

.controls {
  display: flex;
  gap: 4px;
}

.controlButton {
  flex: 0 0 auto;
  height: 26px;
  width: 26px;
  background-color: var(--color-gray-8);
  border: 2px solid;
  border-color: var(--color-white) var(--color-gray-6) var(--color-gray-6);
  padding: 4px;
  color: var(--color-black);
}

.controlButton :global(svg) {
  fill: currentColor;
}
